body,
html {
  height: 100%;
  background-color: #952b23;
  /* background-image: url("bg.png");
  background-repeat: repeat-y; */
}
@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
  .desktop{
      color: white;
      font-size: 64px;
  }
}

.img-div {
  height: 100%;
  margin-top: 30px;
  max-height: 90vh;
  max-width: 100vw;
}

img {
  max-width: 96vw;
  max-height: 96vh;
}